{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
                <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}


<!--잠깐, 다음으로 진행하기 전에 한 가지 눈여겨 보아야 할 부분이 있다. 그것은 바로 <form method="post" class="post-form my-3">
처럼 form 태그에 action 속성을 지정하지 않았다는 점이다. 보통 form 태그에는 항상 action 속성을 지정하여 submit 실행시 action에 정의된
 URL로 폼을 전송해야 한다. 하지만 여기서는 특별하게 action 속성을 지정하지 않았다. form 태그에 action 속성을 지정하지 않으면
  현재 페이지의 URL이 디폴트 action으로 설정된다.-->